---
BasedOnStyle: Google
AlignConsecutiveMacros: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
ColumnLimit: '150'
CompactNamespaces: 'false'
ContinuationIndentWidth: '2'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
FixNamespaceComments: 'false'
IndentCaseLabels: 'false'
IndentWidth: '2'
IndentWrappedFunctionNames: 'true'
Language: Cpp
NamespaceIndentation: All
Standard: Auto
SortIncludes: 'false'
TabWidth: '2'
UseTab: Always

...
